In [1]:
import nltk

In [2]:
paragraph="The Natural Language Toolkit, or more commonly NLTK, is a suite of libraries and programs for symbolic and statistical natural language processing (NLP) for English written in the Python programming language"

In [6]:
 sentences=nltk.sent_tokenize(paragraph)

In [5]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pruth\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [7]:
sentences

['The Natural Language Toolkit, or more commonly NLTK, is a suite of libraries and programs for symbolic and statistical natural language processing (NLP) for English written in the Python programming language']

In [9]:
nltk.word_tokenize(paragraph)

['The',
 'Natural',
 'Language',
 'Toolkit',
 ',',
 'or',
 'more',
 'commonly',
 'NLTK',
 ',',
 'is',
 'a',
 'suite',
 'of',
 'libraries',
 'and',
 'programs',
 'for',
 'symbolic',
 'and',
 'statistical',
 'natural',
 'language',
 'processing',
 '(',
 'NLP',
 ')',
 'for',
 'English',
 'written',
 'in',
 'the',
 'Python',
 'programming',
 'language']

In [10]:
from nltk.stem import PorterStemmer

In [11]:
stemmer=PorterStemmer()

In [12]:
stemmer.stem("eating")

'eat'

In [13]:
stemmer.stem("history")

'histori'

In [14]:
from nltk.stem import WordNetLemmatizer

In [16]:
lemmatizer=WordNetLemmatizer()

In [19]:
lemmatizer.lemmatize("was")

'wa'

In [18]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\pruth\AppData\Roaming\nltk_data...

True

In [20]:
sentences

['The Natural Language Toolkit, or more commonly NLTK, is a suite of libraries and programs for symbolic and statistical natural language processing (NLP) for English written in the Python programming language']

In [24]:
#USING STEMMING
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['the', 'natur', 'languag', 'toolkit', ',', 'or', 'more', 'commonli', 'nltk', ',', 'is', 'a', 'suit', 'of', 'librari', 'and', 'program', 'for', 'symbol', 'and', 'statist', 'natur', 'languag', 'process', '(', 'nlp', ')', 'for', 'english', 'written', 'in', 'the', 'python', 'program', 'languag']

In [25]:
corpus

['the natur languag toolkit , or more commonli nltk , is a suit of librari and program for symbol and statist natur languag process ( nlp ) for english written in the python program languag']

In [26]:
#USING LEMMATIZTION
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['The', 'Natural', 'Language', 'Toolkit', ',', 'or', 'more', 'commonly', 'NLTK', ',', 'is', 'a', 'suite', 'of', 'library', 'and', 'program', 'for', 'symbolic', 'and', 'statistical', 'natural', 'language', 'processing', '(', 'NLP', ')', 'for', 'English', 'written', 'in', 'the', 'Python', 'programming', 'language']

In [27]:
stanza="""
Ratan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[5]

Born in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.

"""

In [28]:
stanza

"\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[5]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.\n\n"

In [29]:
sentence=nltk.sent_tokenize(stanza)

In [30]:
sentence

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[5]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [31]:
#LEMATIZED
corpus=[]
for i in range(len(sentence)):
    words=nltk.word_tokenize(sentence[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['Ratan', 'Naval', 'Tata', '(', 'Ratan', 'Ṭāṭā', ',', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'industrialist', ',', 'philanthropist', ',', 'and', 'a', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'the', 'chairman', 'of', 'Tata', 'Group', ',', 'from', '1990', 'to', '2012', ',', 'and', 'again', ',', 'a', 'interim', 'chairman', ',', 'from', 'October', '2016', 'through', 'February', '2017', ',', 'and', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '3', ']', '[', '4', ']', 'He', 'is', 'the', 'recipient', 'of', 'two', 'civilian', 'award', 'of', 'India', ',', 'the', 'Padma', 'Vibhushan', '(', '2008', ')', ',', 'the', 'second', 'highest', 'civilian', 'honour', ',', 'and', 'the', 'Padma', 'Bhushan', '(', '2000', ')', ',', 'the', 'third', 'highest', 'civilian', 'honour', '.']
['[', '5', ']', 'Born', 'in', '1937', ',', 'he', 'is', 'an', 'heir', 'of', 'the', 'Tata', 'family', ',', 'and', 'son', 'of', 'Naval', 'Tata', 'who', 'wa', 'later', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'Tata', 'Group', '.']
['He', 'is', 'an', 'alumnus', 'of', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'and', 'Harvard', 'Business', 'School', 'through', 'the', 'Advanced', 'Management', 'Program', 'that', 'he', 'completed', 'in', '1975', '.']
['[', '6', ']', 'He', 'joined', 'his', 'company', 'in', '1961', 'when', 'he', 'used', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', ',', 'and', 'wa', 'the', 'apparent', 'successor', 'to', 'J.', 'R.', 'D.', 'Tata', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['He', 'got', 'Tata', 'Tea', 'to', 'acquire', 'Tetley', ',', 'Tata', 'Motors', 'to', 'acquire', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Tata', 'Steel', 'to', 'acquire', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centrist', 'group', 'into', 'a', 'global', 'business', '.']
['Around', '60-65', '%', 'of', 'his', 'profit', 'are', 'donated', 'to', 'charity', 'making', 'him', 'one', 'of', 'the', 'most', 'significant', 'philanthropist', 'in', 'the', 'world', '.']

In [32]:
#STEMMED
corpus=[]
for i in range(len(sentence)):
    words=nltk.word_tokenize(sentence[i])
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'ratan', 'ṭāṭā', ',', 'born', '28', 'decemb', '1937', ')', 'is', 'an', 'indian', 'industrialist', ',', 'philanthropist', ',', 'and', 'a', 'former', 'chairman', 'of', 'tata', 'son', '.']
['He', 'wa', 'the', 'chairman', 'of', 'tata', 'group', ',', 'from', '1990', 'to', '2012', ',', 'and', 'again', ',', 'as', 'interim', 'chairman', ',', 'from', 'octob', '2016', 'through', 'februari', '2017', ',', 'and', 'continu', 'to', 'head', 'it', 'charit', 'trust', '.']
['[', '3', ']', '[', '4', ']', 'He', 'is', 'the', 'recipi', 'of', 'two', 'civilian', 'award', 'of', 'india', ',', 'the', 'padma', 'vibhushan', '(', '2008', ')', ',', 'the', 'second', 'highest', 'civilian', 'honour', ',', 'and', 'the', 'padma', 'bhushan', '(', '2000', ')', ',', 'the', 'third', 'highest', 'civilian', 'honour', '.']
['[', '5', ']', 'born', 'in', '1937', ',', 'he', 'is', 'an', 'heir', 'of', 'the', 'tata', 'famili', ',', 'and', 'son', 'of', 'naval', 'tata', 'who', 'wa', 'later', 'adopt', 'by', 'ratanji', 'tata', ',', 'son', 'of', 'jamsetji', 'tata', ',', 'the', 'founder', 'of', 'tata', 'group', '.']
['He', 'is', 'an', 'alumnu', 'of', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'and', 'harvard', 'busi', 'school', 'through', 'the', 'advanc', 'manag', 'program', 'that', 'he', 'complet', 'in', '1975', '.']
['[', '6', ']', 'He', 'join', 'hi', 'compani', 'in', '1961', 'when', 'he', 'use', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', ',', 'and', 'wa', 'the', 'appar', 'successor', 'to', 'J.', 'R.', 'D.', 'tata', 'upon', 'the', 'latter', "'s", 'retir', 'in', '1991', '.']
['He', 'got', 'tata', 'tea', 'to', 'acquir', 'tetley', ',', 'tata', 'motor', 'to', 'acquir', 'jaguar', 'land', 'rover', ',', 'and', 'tata', 'steel', 'to', 'acquir', 'coru', ',', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india-centrist', 'group', 'into', 'a', 'global', 'busi', '.']
['around', '60-65', '%', 'of', 'hi', 'profit', 'are', 'donat', 'to', 'chariti', 'make', 'him', 'one', 'of', 'the', 'most', 'signific', 'philanthropist', 'in', 'the', 'world', '.']

In [33]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pruth\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [34]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [35]:
stop_words=stopwords.words('english')

In [36]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [37]:
for i in ["changes","change","changing","changer","changeable"]:
    print(lemmatizer.lemmatize(i))

change
change
changing
changer
changeable

In [38]:
print("better :", lemmatizer.lemmatize("better", pos ="a"))

better : good

In [39]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) is an indian industrialist , philanthropist , and a former chairman of tata son .',
 'He wa the chairman of tata group , from 1990 to 2012 , and again , as interim chairman , from octob 2016 through februari 2017 , and continu to head it charit trust .',
 '[ 3 ] [ 4 ] He is the recipi of two civilian award of india , the padma vibhushan ( 2008 ) , the second highest civilian honour , and the padma bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 5 ] born in 1937 , he is an heir of the tata famili , and son of naval tata who wa later adopt by ratanji tata , son of jamsetji tata , the founder of tata group .',
 'He is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975 .',
 "[ 6 ] He join hi compani in 1961 when he use to work on the shop floor of tata steel , and wa the appar successor to J. R. D. tata upon the latter 's retir in 1991 .",
 'He got tata tea to acquir tetley , tata motor to acquir jaguar land rover , and tata steel to acquir coru , in an attempt to turn tata from a larg india-centrist group into a global busi .',
 'around 60-65 % of hi profit are donat to chariti make him one of the most signific philanthropist in the world .']

In [53]:
corpus=[]
for i in range(len(sent)):
    words=nltk.word_tokenize(sent[i].lower())
    words=[stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'ratan', 'ṭāṭā', ',', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', ',', 'philanthropist', ',', 'former', 'chairman', 'tata', 'son', '.']
['chairman', 'tata', 'group', ',', '1990', '2012', ',', ',', 'interim', 'chairman', ',', 'octob', '2016', 'februari', '2017', ',', 'continu', 'head', 'charit', 'trust', '.']
['[', '3', ']', '[', '4', ']', 'recipi', 'two', 'civilian', 'award', 'india', ',', 'padma', 'vibhushan', '(', '2008', ')', ',', 'second', 'highest', 'civilian', 'honour', ',', 'padma', 'bhushan', '(', '2000', ')', ',', 'third', 'highest', 'civilian', 'honour', '.']
['[', '5', ']', 'born', '1937', ',', 'heir', 'tata', 'famili', ',', 'son', 'naval', 'tata', 'later', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['alumnu', 'cornel', 'univers', 'colleg', 'architectur', 'harvard', 'busi', 'school', 'advanc', 'manag', 'program', 'complet', '1975', '.']
['[', '6', ']', 'join', 'compani', '1961', 'use', 'work', 'shop', 'floor', 'tata', 'steel', ',', 'appar', 'successor', 'j.', 'r.', 'd.', 'tata', 'upon', 'latter', "'s", 'retir', '1991', '.']
['got', 'tata', 'tea', 'acquir', 'tetley', ',', 'tata', 'motor', 'acquir', 'jaguar', 'land', 'rover', ',', 'tata', 'steel', 'acquir', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centrist', 'group', 'global', 'busi', '.']
['around', '60-65', '%', 'profit', 'donat', 'chariti', 'make', 'one', 'signific', 'philanthropist', 'world', '.']

In [54]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) indian industrialist , philanthropist , former chairman tata son .',
 'chairman tata group , 1990 2012 , , interim chairman , octob 2016 februari 2017 , continu head charit trust .',
 '[ 3 ] [ 4 ] recipi two civilian award india , padma vibhushan ( 2008 ) , second highest civilian honour , padma bhushan ( 2000 ) , third highest civilian honour .',
 '[ 5 ] born 1937 , heir tata famili , son naval tata later adopt ratanji tata , son jamsetji tata , founder tata group .',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975 .',
 "[ 6 ] join compani 1961 use work shop floor tata steel , appar successor j. r. d. tata upon latter 's retir 1991 .",
 'got tata tea acquir tetley , tata motor acquir jaguar land rover , tata steel acquir coru , attempt turn tata larg india-centrist group global busi .',
 'around 60-65 % profit donat chariti make one signific philanthropist world .']

In [48]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
sent=nltk.sent_tokenize(stanza)

In [51]:
sent

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[5]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [55]:
import re
for i in range(len(sent)):
    text=re.sub('[^a-zA-Z0-9]',' ',sent[i])
    text=text.lower()
    words=text.split()
    words=[stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', 'ratan', 'born', '28', 'decemb', '1937', 'indian', 'industrialist', 'philanthropist', 'former', 'chairman', 'tata', 'son']
['chairman', 'tata', 'group', '1990', '2012', 'interim', 'chairman', 'octob', '2016', 'februari', '2017', 'continu', 'head', 'charit', 'trust']
['3', '4', 'recipi', 'two', 'civilian', 'award', 'india', 'padma', 'vibhushan', '2008', 'second', 'highest', 'civilian', 'honour', 'padma', 'bhushan', '2000', 'third', 'highest', 'civilian', 'honour']
['5', 'born', '1937', 'heir', 'tata', 'famili', 'son', 'naval', 'tata', 'later', 'adopt', 'ratanji', 'tata', 'son', 'jamsetji', 'tata', 'founder', 'tata', 'group']
['alumnu', 'cornel', 'univers', 'colleg', 'architectur', 'harvard', 'busi', 'school', 'advanc', 'manag', 'program', 'complet', '1975']
['6', 'join', 'compani', '1961', 'use', 'work', 'shop', 'floor', 'tata', 'steel', 'appar', 'successor', 'j', 'r', 'tata', 'upon', 'latter', 'retir', '1991']
['got', 'tata', 'tea', 'acquir', 'tetley', 'tata', 'motor', 'acquir', 'jaguar', 'land', 'rover', 'tata', 'steel', 'acquir', 'coru', 'attempt', 'turn', 'tata', 'larg', 'india', 'centrist', 'group', 'global', 'busi']
['around', '60', '65', 'profit', 'donat', 'chariti', 'make', 'one', 'signific', 'philanthropist', 'world']

In [56]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) indian industrialist , philanthropist , former chairman tata son .',
 'chairman tata group , 1990 2012 , , interim chairman , octob 2016 februari 2017 , continu head charit trust .',
 '[ 3 ] [ 4 ] recipi two civilian award india , padma vibhushan ( 2008 ) , second highest civilian honour , padma bhushan ( 2000 ) , third highest civilian honour .',
 '[ 5 ] born 1937 , heir tata famili , son naval tata later adopt ratanji tata , son jamsetji tata , founder tata group .',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975 .',
 "[ 6 ] join compani 1961 use work shop floor tata steel , appar successor j. r. d. tata upon latter 's retir 1991 .",
 'got tata tea acquir tetley , tata motor acquir jaguar land rover , tata steel acquir coru , attempt turn tata larg india-centrist group global busi .',
 'around 60-65 % profit donat chariti make one signific philanthropist world .',
 'ratan naval tata ratan born 28 decemb 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 1990 2012 interim chairman octob 2016 februari 2017 continu head charit trust',
 '3 4 recipi two civilian award india padma vibhushan 2008 second highest civilian honour padma bhushan 2000 third highest civilian honour',
 '5 born 1937 heir tata famili son naval tata later adopt ratanji tata son jamsetji tata founder tata group',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975',
 '6 join compani 1961 use work shop floor tata steel appar successor j r tata upon latter retir 1991',
 'got tata tea acquir tetley tata motor acquir jaguar land rover tata steel acquir coru attempt turn tata larg india centrist group global busi',
 'around 60 65 profit donat chariti make one signific philanthropist world']

In [57]:
cv=CountVectorizer(binary=True,ngram_range=(1,2))

In [58]:
##applied BOW
cv.fit_transform(corpus).toarray()

array([[1, 0, 1, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

In [59]:
## new test data
data=["I want to visit ratan tata"]

cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int64)

In [60]:
cv.vocabulary_

{'ratan': 152,
 'naval': 136,
 'tata': 180,
 'ṭāṭā': 214,
 'born': 47,
 '28': 19,
 'decemb': 76,
 '1937': 0,
 'indian': 110,
 'industrialist': 112,
 'philanthropist': 145,
 'former': 86,
 'chairman': 54,
 'son': 172,
 'ratan naval': 154,
 'naval tata': 137,
 'tata ratan': 187,
 'ratan ṭāṭā': 155,
 'ṭāṭā born': 215,
 'born 28': 49,
 '28 decemb': 20,
 'decemb 1937': 77,
 '1937 indian': 2,
 'indian industrialist': 111,
 'industrialist philanthropist': 113,
 'philanthropist former': 146,
 'former chairman': 87,
 'chairman tata': 56,
 'tata son': 188,
 'group': 94,
 '1990': 6,
 '2012': 13,
 'interim': 114,
 'octob': 138,
 '2016': 15,
 'februari': 82,
 '2017': 17,
 'continu': 70,
 'head': 99,
 'charit': 57,
 'trust': 198,
 'tata group': 183,
 'group 1990': 95,
 '1990 2012': 7,
 '2012 interim': 14,
 'interim chairman': 115,
 'chairman octob': 55,
 'octob 2016': 139,
 '2016 februari': 16,
 'februari 2017': 83,
 '2017 continu': 18,
 'continu head': 71,
 'head charit': 100,
 'charit trust': 58,
 'recipi': 158,
 'two': 201,
 'civilian': 61,
 'award': 43,
 'india': 107,
 'padma': 142,
 'vibhushan': 209,
 '2008': 11,
 'second': 166,
 'highest': 103,
 'honour': 105,
 'bhushan': 45,
 '2000': 9,
 'third': 196,
 'recipi two': 159,
 'two civilian': 202,
 'civilian award': 62,
 'award india': 44,
 'india padma': 109,
 'padma vibhushan': 144,
 'vibhushan 2008': 210,
 '2008 second': 12,
 'second highest': 167,
 'highest civilian': 104,
 'civilian honour': 63,
 'honour padma': 106,
 'padma bhushan': 143,
 'bhushan 2000': 46,
 '2000 third': 10,
 'third highest': 197,
 'heir': 101,
 'famili': 80,
 'later': 126,
 'adopt': 29,
 'ratanji': 156,
 'jamsetji': 118,
 'founder': 88,
 'born 1937': 48,
 '1937 heir': 1,
 'heir tata': 102,
 'tata famili': 181,
 'famili son': 81,
 'son naval': 174,
 'tata later': 185,
 'later adopt': 127,
 'adopt ratanji': 30,
 'ratanji tata': 157,
 'son jamsetji': 173,
 'jamsetji tata': 119,
 'tata founder': 182,
 'founder tata': 89,
 'alumnu': 33,
 'cornel': 72,
 'univers': 203,
 'colleg': 64,
 'architectur': 37,
 'harvard': 97,
 'busi': 50,
 'school': 164,
 'advanc': 31,
 'manag': 132,
 'program': 150,
 'complet': 68,
 '1975': 5,
 'alumnu cornel': 34,
 'cornel univers': 73,
 'univers colleg': 204,
 'colleg architectur': 65,
 'architectur harvard': 38,
 'harvard busi': 98,
 'busi school': 51,
 'school advanc': 165,
 'advanc manag': 32,
 'manag program': 133,
 'program complet': 151,
 'complet 1975': 69,
 'join': 120,
 'compani': 66,
 '1961': 3,
 'use': 207,
 'work': 211,
 'shop': 168,
 'floor': 84,
 'steel': 175,
 'appar': 35,
 'successor': 178,
 'upon': 205,
 'latter': 128,
 'retir': 160,
 '1991': 8,
 'join compani': 121,
 'compani 1961': 67,
 '1961 use': 4,
 'use work': 208,
 'work shop': 212,
 'shop floor': 169,
 'floor tata': 85,
 'tata steel': 189,
 'steel appar': 177,
 'appar successor': 36,
 'successor tata': 179,
 'tata upon': 191,
 'upon latter': 206,
 'latter retir': 129,
 'retir 1991': 161,
 'got': 92,
 'tea': 192,
 'acquir': 25,
 'tetley': 194,
 'motor': 134,
 'jaguar': 116,
 'land': 122,
 'rover': 162,
 'coru': 74,
 'attempt': 41,
 'turn': 199,
 'larg': 124,
 'centrist': 52,
 'global': 90,
 'got tata': 93,
 'tata tea': 190,
 'tea acquir': 193,
 'acquir tetley': 28,
 'tetley tata': 195,
 'tata motor': 186,
 'motor acquir': 135,
 'acquir jaguar': 27,
 'jaguar land': 117,
 'land rover': 123,
 'rover tata': 163,
 'steel acquir': 176,
 'acquir coru': 26,
 'coru attempt': 75,
 'attempt turn': 42,
 'turn tata': 200,
 'tata larg': 184,
 'larg india': 125,
 'india centrist': 108,
 'centrist group': 53,
 'group global': 96,
 'global busi': 91,
 'around': 39,
 '60': 21,
 '65': 23,
 'profit': 148,
 'donat': 78,
 'chariti': 59,
 'make': 130,
 'one': 140,
 'signific': 170,
 'world': 213,
 'around 60': 40,
 '60 65': 22,
 '65 profit': 24,
 'profit donat': 149,
 'donat chariti': 79,
 'chariti make': 60,
 'make one': 131,
 'one signific': 141,
 'signific philanthropist': 171,
 'philanthropist world': 147,
 'ratan born': 153}

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf=TfidfVectorizer()
tf_idf.fit_transform(corpus).toarray()

array([[0.20730143, 0.        , 0.        , ..., 0.        , 0.        ,
        0.29271849],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.26026087, 0.        , ..., 0.26026087, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.30626337,
        0.        ]])

In [63]:
tf_idf.vocabulary_

{'ratan': 72,
 'naval': 65,
 'tata': 84,
 'ṭāṭā': 97,
 'born': 23,
 '28': 10,
 'decemb': 36,
 '1937': 0,
 'indian': 52,
 'industrialist': 53,
 'philanthropist': 69,
 'former': 41,
 'chairman': 26,
 'son': 81,
 'group': 45,
 '1990': 3,
 '2012': 7,
 'interim': 54,
 'octob': 66,
 '2016': 8,
 'februari': 39,
 '2017': 9,
 'continu': 33,
 'head': 47,
 'charit': 27,
 'trust': 88,
 'recipi': 74,
 'two': 90,
 'civilian': 29,
 'award': 21,
 'india': 51,
 'padma': 68,
 'vibhushan': 94,
 '2008': 6,
 'second': 78,
 'highest': 49,
 'honour': 50,
 'bhushan': 22,
 '2000': 5,
 'third': 87,
 'heir': 48,
 'famili': 38,
 'later': 60,
 'adopt': 14,
 'ratanji': 73,
 'jamsetji': 56,
 'founder': 42,
 'alumnu': 16,
 'cornel': 34,
 'univers': 91,
 'colleg': 30,
 'architectur': 18,
 'harvard': 46,
 'busi': 24,
 'school': 77,
 'advanc': 15,
 'manag': 63,
 'program': 71,
 'complet': 32,
 '1975': 2,
 'join': 57,
 'compani': 31,
 '1961': 1,
 'use': 93,
 'work': 95,
 'shop': 79,
 'floor': 40,
 'steel': 82,
 'appar': 17,
 'successor': 83,
 'upon': 92,
 'latter': 61,
 'retir': 75,
 '1991': 4,
 'got': 44,
 'tea': 85,
 'acquir': 13,
 'tetley': 86,
 'motor': 64,
 'jaguar': 55,
 'land': 58,
 'rover': 76,
 'coru': 35,
 'attempt': 20,
 'turn': 89,
 'larg': 59,
 'centrist': 25,
 'global': 43,
 'around': 19,
 '60': 11,
 '65': 12,
 'profit': 70,
 'donat': 37,
 'chariti': 28,
 'make': 62,
 'one': 67,
 'signific': 80,
 'world': 96}